<h1>With mixin</h1>

<MixedIn />

<hr>

<h1>With "decorator"</h1>

<Decorated />

<hr>

<h1>With DI style decoration</h1>

<Editable as |editable|>
  <DiDecoration @editable={{editable}} />
</Editable>



